$text-color: #000000;
$primary-color: #FFFFFF;
$secondary-color: #474747;
$bg-color: #F3F7EA;
$button-color: #FFA60D;
$heading-font: 1.6rem;
$base-font: 25px;
$small-font: 0.72rem;
$font: 'Source Serif Pro';